<div class="container-fluid p-4 c4 ">
    <h3>STADVDB MCO2 Web Application</h3>
</div>

<div class="container-fluid pt-3 d-flex flex-column justify-content-center">

     <h4>Server Parameters</h4>

     <button type="button" class="btn btn-success">Success</button>

     <div class="container d-flex flex-row justify-content-center">
         
            <div class="container c2 mx-4 text-start p-4 rounded-3 d-flex justify-content-center align-items-center">
                <span class="fw-bold me-1">Node 1 Status:</span> {{#if node1-live}}LIVE{{/if}}DEAD
                <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="node1-switch">
                
                </div>

            </div>

            <div class="container c2 mx-4 text-start p-4 rounded-3 d-flex justify-content-center align-items-center">
                <span class="fw-bold me-1">Node 2 Status:</span> {{#if node2-live}}LIVE{{/if}}DEAD
                <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="node2-switch">
                
                </div>
            </div>

            <div class="container c2 mx-4 text-start p-4 rounded-3 d-flex justify-content-center align-items-center">
                <span class="fw-bold me-1">Node 3 Status:</span> {{#if node3-live}}LIVE{{/if}}DEAD
                <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="node3-switch">
                
                </div>
            </div>

            <div class="container c2 mx-4 text-start p-4 rounded-3 ">
                <span class="fw-bold">Isolation Level: </span> 
                <select class="form-select" aria-label="iso-level-select" id="isoType" name="iso-level">
                    <option value="1" Selected>Read Uncommitted</option>
                    <option value="2">Read Committed</option>
                    <option value="3">Read Repeatable</option>
                    <option value="4">Serializable</option>
                </select>

            </div>
     </div>


</div>

<div class="container-fluid pt-3 d-felx flex-column justify-content-center">

    <h4>Transactions</h4>
    
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
                    
        <div class="container-fluid m-1 c2 rounded-3 p-3">

            <h5> Case #1: All transactions are reading.</h5>
            
            <div class="container">
                Query #1 here
            </div>

            <div class="container">
                Query #2 here
            </div>

            <div class="container">
                Query #3 here
            </div>
            
        </div>

        <div class="container-fluid m-1 c2 rounded-3 p-3">
            
            <h5> Case #2: At least one transaction is writing (update / deletion) and the others are reading.</h5>

            <div class="container">
                Query #1 here
            </div>

            <div class="container">
                Query #2 here
            </div>

            <div class="container">
                Query #3 here
            </div>

        </div>

        <div class="container-fluid m-1 c2 rounded-3 p-3">

            <h5> Case #3: All transactions are writing (update / deletion).</h5>
            <div class="container">
                Query #1 here
            </div>

            <div class="container">
                Query #2 here
            </div>

            <div class="container">
                Query #3 here
            </div>
           
        </div>
    </div>



</div>    


