<div class="container-fluid p-4 teal ">
    <h3>STADVDB MCO2 Web Application</h3>
</div>

<div class="container-fluid p-1 d-flex flex-row ">

    <div class="container ">
        Node 1 here
    </div>

    <div class="container">
        Node 2 here
    </div>

    <div class="container">
        Node 3 here
    </div>


</div>