/* 
Color 1: #DED2AA
Color 2: #C7A26B
Color 3: #B3816E
Color 4: #A3CB8F
Color 5: #C0DEA9

*/

.c1{
    background-color: #DED2AA;
}

.c2{
    background-color: #C7A26B;
}

.c3{
    background-color: #B3816E;
}

.c4{
    background-color: #A3CB8F;
}

.c5{
    background-color: #C0DEA9;
}